/.idea/
/env/
/temp/
/www/trend.json
/www/word_cloud.json
/venv/
jira_rest.py
mail_gatherer.py
mail_type_code_parser_train.py
mail_info_parser.py
confluence_tidy_check.py
mail_bounce_decision_tree.py
decision_tree_junction*