html, body {
    background-color:white;
    background-image:url(image/austria-dawn-desktop-backgrounds-1323550.jpg);
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color:#FCF7E0;
}
a, a:active, a:link, a:visited, a:hover {
    color:#FCF7E0;
    font-weight:bold;
    text-decoration:none;
}
h1 {
    width:100%;
    text-align:center;
    font-size:36px;
    line-height:36px;
    color:#635C3B;
}
form {
    width:800px;
    height:200px;
    position:absolute;
    left:50%;
    margin-left:-400px;
    top:50%;
    margin-top:-100px;
    display:block;
    text-align:center;
}
button[type=submit] {
    margin-left: -50px;
    width: 50px;
    border: none;
    background: transparent;
    color:#E3DECA;
}
input[type=text] {
    border:none;
    border-color:#ccc;
    border-radius:15px;
    height:20px;
    width:700px;
    padding:8px 13px;
    outline-width: 0;
    font-size:16px;
    line-height:18px;
    color:#635C3B;
    box-shadow: 1px 1px 5px #635C3B;
}
#image-copyright {
    position:fixed;
    bottom:10px;
    right:20px;
    font-size:13px;
    line-height:14px;
    text-align:right;
}
#petrus-info {
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:13px;
    line-height:14px;
    text-align:left;
}
#link-list {
    padding-bottom: 20px;
}
#link-list p {
    display:block;
    width: 685px;
    margin-left: 45px;
    background:#FCF7E0;
    border-radius:10px;
    padding:5px 10px;
    color:#635C3B;
    font-weight:bold;
    box-shadow: 1px 1px 3px grey;
}
#link-list p:hover {
    background: white;
}
#link-list #single:hover {
    background:#FCF7E0;
}
#link-list p a, #link-list p a:link, #link-list p a:visited, #link-list p a:hover, #link-list p a:active {
    color:#635C3B;
    font-weight:bold;
    width: 100%;
    display:inline-block;
}
p.tickets {
    margin-left: 45px;
    font-size: 12px;
    line-height: 13px;
    color: #635C3B;
    background: #FCF7E0;
    width: 150px;
    text-align: center;
    padding: 10px 10px 20px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -8px;
    box-shadow: 1px 1px 3px grey;
}
#link-list #single {
    margin-top: -10px;
    padding-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.corner {
    position: absolute;
    right: 60px;
    bottom: 20px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #635C3B;
}
.corner.green {
    background: lime;
    box-shadow: 0 0 10px lime;
}
.corner.yellow {
    background: yellow;
    box-shadow: 0 0 10px yellow;
}
.corner.red {
    background: red;
    box-shadow: 0 0 10px red;
}